/node_modules

/episodes/*.wav
/episodes/*.mp3
/episodes/*.ogg
/episodes/*.wma
/episodes/*.flac 
/episodes/*.ape
/episodes/*.alac
/episodes/*.midi
/episodes/*.mp4
/episodes/*.m4a
/episodes/*.m4b
/episodes/*.m4p 
/episodes/*.m4r
/episodes/*.mp3

#Dependencias dos Packs Managers
yarn.lock
package-lock.json

.env

